.nav {
    background-color:$bg-light;
    position: fixed;
    width: 100%;
    padding: 1rem 0;
    z-index: 100;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__links {
        width: 55%;
        display: flex;
        justify-content: space-between;
        
        a {
            font-weight: 400;
            padding: 1rem;
            color: $text-dark;
            font-size: 1.2rem;
            letter-spacing: 1px;
        }
    }
}