* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    font-family: $text-font;
    background-color: $bg-dark;
}

a {
    font-family: $title-font;
    text-decoration: none;
}

ul {
    list-style: none;
}

section {
    padding: 8rem 0;
}

img {
    width: 100%;
    height: auto;
}