$primary-color: #1dc9e3;
$secondary-color: #535bd4;
$text-light: #f0f0f0;
$text-grey: #999;
$text-dark: #5e5e5e;
$bg-secondary: #8E54E9;
$bg-primary: #4776E6;
$bg-dark: #1c1c1c;
$bg-light: #fff;

$title-font: 'Unica One', cursive;
$text-font: 'Source Sans Pro', sans-serif;