#hero {
    height: 90vh;
    background-image: linear-gradient(to right, rgba($bg-secondary, .9) 20%, rgba($bg-primary, .9)), url(../img/home-bg.jpg);
    background-size: cover;
    background-position: center;

}


.hero {
    display: flex;
    align-items: center;
    height: 100%;

    &__image {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        
        img {
            width: 100%;
            height: auto;
        }
    }


    &__text {
        flex: 1;
        padding: 2rem;
    }
}