#newsletter {
    background-image: linear-gradient(rgba($primary-color, .9), rgba($primary-color, .9)), url(../img/newsletter-bg.jpg);
    background-size: cover;
    background-position-y: -280px;
}