.screenshot {

    &__box {
        div {
            display: flex;
            justify-content: space-between;

            img {
                display: inline-block;
                width: 23%;
                @include transition-ease;

                &:hover {
                    transform: translateY(-5px);
                    box-shadow: 2px 14px 15px rgba(#000, .3);
                }
            }
        }
    }
}